HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Env ###
.env
.env-*

### STS / NetBeans / VS Code ###
.apt_generated
.classpath
.factorypath
.settings/
.springBeans
.sts4-cache
bin/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
.vscode/
